@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/Account.ico" />
</head>

<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <a asp-controller="Base" asp-action="Index">Home</a>
        <br />
        <a asp-controller="Base" asp-action="GradeCalculator">Grade Calculator</a>
    </header>
    <div class="main">

    @RenderBody()

    </div>
    <footer>
        <div class="container">
            <br />
            <div>©2021 Ryan's Profile</div>
        </div>
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradeCalc.js"></script>
</body>

</html>