@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home";
}


<body>
    <h2 class="sectionTitle">What I do for fun</h2>
    <div class="card">
        <img class="funPic" src="~/img/meemmafair.jpg" />
        <p class="picDescrip">
            Pictured above is my girlfriend and I at the Utah State Fair
            (because my main hobby (for better or worse) is doing things with my girlfriend.)
        </p>
    </div>

    <h2>What I hope to get out of IS 413</h2>
    <div class="card">
        <p>
            I hope to gain extensive knowledge of this framework because of its wide use in industry.
            I want to be able to utilize these skills at the end of the semester with industry-level
            proficiency. I also hope this will make me better equipped to deal with all types of languages
            and frameworks, and I love that I will be able to add another programming language to my skills
            bank.
        </p>
    </div>

    <h2>Top Three Jobs</h2>
    <div class="card">
        <ol>
            <li>Data Analyst</li>
            <li>Software Developer</li>
            <li>Tech Entrepreneur</li>
        </ol>
    </div>
</body>